<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>me.matthewdias.kwmalfred</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>19026CFB-15B6-48F9-87AC-5FD5415D1C65</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>13486CFD-9A64-4650-B428-277FB4EFF889</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>214533C0-5245-424C-B998-81DD330526CC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4B020E63-FE51-46EE-8CD7-42E061A57C72</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>6E2D208B-D14B-41C3-89CE-EB7B48D293DD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C34E786C-12A0-4710-993E-B31B5D4D87DE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Matthew Dias</string>
	<key>description</key>
	<string>Manipulate windows through kwm</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>kwm control</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python kwmalfred.py --command "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>4B020E63-FE51-46EE-8CD7-42E061A57C72</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python kwmalfred.py --path "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C34E786C-12A0-4710-993E-B31B5D4D87DE</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>kwm</string>
				<key>text</key>
				<string>Run kwm command</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>214533C0-5245-424C-B998-81DD330526CC</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python kwmalfred.py --script "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>13486CFD-9A64-4650-B428-277FB4EFF889</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>kwms</string>
				<key>subtext</key>
				<string>Type path to kwm bin (eg. ~/some\ folder/kwm/bin/)</string>
				<key>text</key>
				<string>Setup kwm</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>6E2D208B-D14B-41C3-89CE-EB7B48D293DD</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>script</string>
				<key>text</key>
				<string>Run kwm script</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>19026CFB-15B6-48F9-87AC-5FD5415D1C65</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>13486CFD-9A64-4650-B428-277FB4EFF889</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>19026CFB-15B6-48F9-87AC-5FD5415D1C65</key>
		<dict>
			<key>ypos</key>
			<real>380</real>
		</dict>
		<key>214533C0-5245-424C-B998-81DD330526CC</key>
		<dict>
			<key>ypos</key>
			<real>140</real>
		</dict>
		<key>4B020E63-FE51-46EE-8CD7-42E061A57C72</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>6E2D208B-D14B-41C3-89CE-EB7B48D293DD</key>
		<dict>
			<key>ypos</key>
			<real>260</real>
		</dict>
		<key>C34E786C-12A0-4710-993E-B31B5D4D87DE</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>matthewdias.me</string>
</dict>
</plist>
